[submodule "presentations/2025/RAGwMuktiTesting/LanguageModelsSeminar"]
	path = presentations/2025/RAGwMuktiTesting/LanguageModelsSeminar
	url = https://github.com/YarinShitrit/LanguageModelsSeminar.git
